In [95]:
import pandas as pd
import numpy as np
import os, random, math, glob
from IPython.display import Image as IM
from IPython.display import clear_output
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = [16, 10]
import seaborn as sns
import ast, json

from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [96]:
df = pd.read_csv('Train.csv')
df.head()
test = pd.read_csv('Test.csv')

In [97]:
df.isna().sum()

ward                 0
total_households     0
total_individuals    0
target               0
dw_00                0
                    ..
pw_08                0
ADM4_PCODE           0
lat                  0
lon                  0
NL                   0
Length: 63, dtype: int64

In [98]:
target = df.target

In [99]:
X = df.drop(['ward', 'ADM4_PCODE', 'target','dw_12','dw_13','lan_13','pw_07'], axis = 1)
X_cols = X.columns
print(X_cols)
y = target

Index(['total_households', 'total_individuals', 'dw_00', 'dw_01', 'dw_02',
       'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09', 'dw_10',
       'dw_11', 'psa_00', 'psa_01', 'psa_02', 'psa_03', 'psa_04', 'stv_00',
       'stv_01', 'car_00', 'car_01', 'lln_00', 'lln_01', 'lan_00', 'lan_01',
       'lan_02', 'lan_03', 'lan_04', 'lan_05', 'lan_06', 'lan_07', 'lan_08',
       'lan_09', 'lan_10', 'lan_11', 'lan_12', 'lan_14', 'pg_00', 'pg_01',
       'pg_02', 'pg_03', 'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03',
       'pw_04', 'pw_05', 'pw_06', 'pw_08', 'lat', 'lon', 'NL'],
      dtype='object')

In [100]:
test.head()

,ward,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,21001001: Ward 1,2504.95194,8745.15151,0.947257,0.000873,0.002021,0.000000,0.000000,0.030116,0.000452,...,0.001757,0.000000,0.0,0.006649,0.0,0.0,ZA2101001,-32.637758,23.848688,0.000000
1,21001002: Ward 2,2080.27718,7258.11764,0.844993,0.000481,0.043629,0.004714,0.012323,0.012300,0.022132,...,0.000691,0.000000,0.0,0.002916,0.0,0.0,ZA2101002,-31.990536,24.555818,0.000000
2,21001003: Ward 3,1106.62639,5919.13170,0.651380,0.007937,0.007113,0.000000,0.001977,0.259711,0.006505,...,0.002253,0.000000,0.0,0.000000,0.0,0.0,ZA2101003,-32.283595,24.563940,8.269556
3,21001004: Ward 4,2175.56096,10280.57452,0.410837,0.002468,0.011511,0.000485,0.000000,0.449604,0.009256,...,0.000000,0.000661,0.0,0.001379,0.0,0.0,ZA2101004,-32.261612,24.542202,8.626625
4,21001005: Ward 5,1270.83883,6018.34202,0.942851,0.002638,0.000821,0.000000,0.000891,0.000787,0.000830,...,0.000000,0.000000,0.0,0.001660,0.0,0.0,ZA2101005,-32.251571,24.558537,8.601754

In [101]:
test = test.drop(['ADM4_PCODE','dw_12','dw_13','lan_13','pw_07'], axis = 1)

In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

from sklearn.ensemble import BaggingClassifier # default classifier is a DT
from sklearn.ensemble import AdaBoostClassifier


from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

from sklearn.metrics import SCORERS

import seaborn as sns
sns.set(rc={'figure.figsize':(6,6)}) 
import warnings
warnings.simplefilter("ignore")

%matplotlib inline

In [103]:
model = LinearRegression()

In [104]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=13)  
model.fit(X_train, y_train)
predictions = model.predict(X_test) 
X = X_test.reset_index().copy() # make a copy of indices and data
X["target"] = y_test.tolist()
X["expected target"] = predictions

X.head()

,index,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_03,pw_04,pw_05,pw_06,pw_08,lat,lon,NL,target,expected target
0,1365,2349.04576,6991.64058,0.806317,0.098598,0.025605,0.000676,0.000000,0.001224,0.003079,...,0.087772,0.023380,0.006632,0.332363,0,-29.506389,31.125250,12.053659,21.370224,26.566118
1,1807,3932.28611,11241.63945,0.190598,0.067783,0.005923,0.001667,0.000646,0.004182,0.005545,...,0.227339,0.083908,0.102629,0.227266,0,-24.719967,27.291665,2.945907,15.787635,17.421194
2,1725,2494.60275,8908.33125,0.955165,0.007651,0.000934,0.000431,0.000000,0.000863,0.017383,...,0.076094,0.045352,0.018145,0.307640,0,-23.511548,29.835937,4.401571,37.605587,37.432197
3,2325,1735.54460,6358.57912,0.916113,0.002176,0.001911,0.000000,0.000000,0.001309,0.001575,...,0.007032,0.000000,0.000000,0.017074,0,-25.337809,28.065388,10.491878,26.546377,22.184357
4,1559,2791.74949,10780.63737,0.836281,0.101066,0.001631,0.000803,0.000000,0.000000,0.001122,...,0.075600,0.042384,0.054012,0.503297,0,-23.639798,30.380540,12.129275,37.235070,37.440459

In [105]:
RESULTS = {}

In [106]:
from sklearn import metrics

In [107]:
rsq = metrics.r2_score(y_test, predictions)
print(f"the R-squaared score is {rsq}")

the R-squaared score is 0.8677038410199502

In [108]:
adjusted_r2_model = 1 - (1-rsq)*(len(X_test)-1)/ (len(X_test)-len(model.coef_) -1)
adjusted_r2_model

0.8583258854466809

Hyper Parameter

In [109]:
from sklearn.model_selection import cross_validate

#this is a handy function to run cross validation on whichever estimator/model family we specify
def evaluate_model(estimator, X, y):  #define the function evaluate_model with input arguments of (estimator, X, y)
    cv_results = cross_validate(estimator, X, y,  
                     scoring="r2", #I'm picking r^2, what are other options could we put here?
                          n_jobs=-1, cv=3,
                     return_train_score=True)
    return pd.DataFrame(cv_results).mean().to_dict()

In [110]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [111]:
from sklearn.linear_model import Ridge

ridgeRegression = Ridge() #instantiate linear regression

In [112]:
search_parameters_space = {
    "alpha": [0.01, 0.1, 1, 10],  
    "fit_intercept": [True, False], # fit intercept T or F
}

In [113]:
grid = GridSearchCV(estimator=ridgeRegression, 
                    param_grid=search_parameters_space,
                    scoring="r2",
                    n_jobs=-1)

In [114]:
%%time
grid.fit(X_train, y_train)

CPU times: user 507 ms, sys: 196 ms, total: 703 ms
Wall time: 2.52 s

GridSearchCV(cv=None, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=-1,
             param_grid={'alpha': [0.01, 0.1, 1, 10],
                         'fit_intercept': [True, False]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=0)

In [115]:
print(grid.best_score_)

0.853694774175706

In [116]:
grid.best_params_

{'alpha': 0.1, 'fit_intercept': False}

In [117]:
grid.best_estimator_

Ridge(alpha=0.1, copy_X=True, fit_intercept=False, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [118]:
pd.DataFrame(grid.cv_results_).sort_values(by="rank_test_score")

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_fit_intercept,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
3,0.006203,0.000779,0.002082,0.000613,0.1,False,"{'alpha': 0.1, 'fit_intercept': False}",0.834023,0.867335,0.841767,0.855775,0.869574,0.853695,0.013941,1
2,0.008725,0.003025,0.002514,0.000824,0.1,True,"{'alpha': 0.1, 'fit_intercept': True}",0.834211,0.867003,0.841722,0.855962,0.869562,0.853692,0.013835,2
0,0.029623,0.029527,0.002300,0.000347,0.01,True,"{'alpha': 0.01, 'fit_intercept': True}",0.835013,0.867235,0.840199,0.855259,0.869090,0.853359,0.013809,3
1,0.041774,0.039249,0.004070,0.001543,0.01,False,"{'alpha': 0.01, 'fit_intercept': False}",0.834998,0.867280,0.840157,0.855239,0.869092,0.853353,0.013829,4
4,0.005965,0.001073,0.002040,0.000561,1,True,"{'alpha': 1, 'fit_intercept': True}",0.827734,0.857229,0.843364,0.851730,0.869678,0.849947,0.014016,5
5,0.004050,0.000589,0.001731,0.000370,1,False,"{'alpha': 1, 'fit_intercept': False}",0.826352,0.858449,0.843931,0.850399,0.869104,0.849647,0.014366,6
6,0.004354,0.001159,0.001450,0.000254,10,True,"{'alpha': 10, 'fit_intercept': True}",0.778503,0.809050,0.817478,0.818179,0.848124,0.814267,0.022263,7
7,0.004448,0.000498,0.001453,0.000253,10,False,"{'alpha': 10, 'fit_intercept': False}",0.777439,0.809760,0.818299,0.817216,0.847138,0.813971,0.022278,8

In [119]:
RESULTS["ridge_gridsearch"] = evaluate_model(grid.best_estimator_,
                                             X_test, y_test)

In [120]:
RESULTS

{'ridge_gridsearch': {'fit_time': 0.0034068425496419272,
  'score_time': 0.0011710325876871746,
  'test_score': 0.8619863067644804,
  'train_score': 0.8821386217402823}}

Randomized Search

In [121]:
from scipy.stats import randint as sp_randint
from scipy.stats import uniform 

search_parameters_space_random = {
    "alpha": uniform(loc=0.1, scale=10), 
    "fit_intercept": [True, False]
}

In [122]:
random_search = RandomizedSearchCV(
    estimator=ridgeRegression, 
    param_distributions=search_parameters_space_random,
   scoring="r2", n_jobs=-1, 
    n_iter=50)

In [123]:
%%time
random_search.fit(X_train, y_train)

CPU times: user 405 ms, sys: 33.8 ms, total: 438 ms
Wall time: 513 ms

RandomizedSearchCV(cv=None, error_score=nan,
                   estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=None, normalize=False,
                                   random_state=None, solver='auto',
                                   tol=0.001),
                   iid='deprecated', n_iter=50, n_jobs=-1,
                   param_distributions={'alpha': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1a1da74b50>,
                                        'fit_intercept': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='r2', verbose=0)

In [124]:
random_search.best_score_

0.8535602845558113

In [125]:
RESULTS["ridge_randomizedsearch"] = evaluate_model(
    random_search.best_estimator_,
    X_test, y_test
)

In [126]:
pd.DataFrame.from_dict(RESULTS).T

                        fit_time  score_time  test_score  train_score
ridge_gridsearch        0.003407    0.001171    0.861986     0.882139
ridge_randomizedsearch  0.003605    0.001440    0.862043     0.881158

In [127]:
from sklearn import metrics

In [128]:
rmse = np.sqrt(metrics.mean_squared_error(y_test, predictions))
print(f"the Root Mean Squared Error is {rmse}")

the Root Mean Squared Error is 3.7786630212511505

In [129]:
X.head()

,index,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_03,pw_04,pw_05,pw_06,pw_08,lat,lon,NL,target,expected target
0,1365,2349.04576,6991.64058,0.806317,0.098598,0.025605,0.000676,0.000000,0.001224,0.003079,...,0.087772,0.023380,0.006632,0.332363,0,-29.506389,31.125250,12.053659,21.370224,26.566118
1,1807,3932.28611,11241.63945,0.190598,0.067783,0.005923,0.001667,0.000646,0.004182,0.005545,...,0.227339,0.083908,0.102629,0.227266,0,-24.719967,27.291665,2.945907,15.787635,17.421194
2,1725,2494.60275,8908.33125,0.955165,0.007651,0.000934,0.000431,0.000000,0.000863,0.017383,...,0.076094,0.045352,0.018145,0.307640,0,-23.511548,29.835937,4.401571,37.605587,37.432197
3,2325,1735.54460,6358.57912,0.916113,0.002176,0.001911,0.000000,0.000000,0.001309,0.001575,...,0.007032,0.000000,0.000000,0.017074,0,-25.337809,28.065388,10.491878,26.546377,22.184357
4,1559,2791.74949,10780.63737,0.836281,0.101066,0.001631,0.000803,0.000000,0.000000,0.001122,...,0.075600,0.042384,0.054012,0.503297,0,-23.639798,30.380540,12.129275,37.235070,37.440459

In [130]:
test['target'] = model.predict(test[X_cols])
test.head()

,ward,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_02,pw_03,pw_04,pw_05,pw_06,pw_08,lat,lon,NL,target
0,21001001: Ward 1,2504.95194,8745.15151,0.947257,0.000873,0.002021,0.000000,0.000000,0.030116,0.000452,...,0.012457,0.001757,0.000000,0.0,0.006649,0.0,-32.637758,23.848688,0.000000,20.546466
1,21001002: Ward 2,2080.27718,7258.11764,0.844993,0.000481,0.043629,0.004714,0.012323,0.012300,0.022132,...,0.009606,0.000691,0.000000,0.0,0.002916,0.0,-31.990536,24.555818,0.000000,12.968441
2,21001003: Ward 3,1106.62639,5919.13170,0.651380,0.007937,0.007113,0.000000,0.001977,0.259711,0.006505,...,0.001996,0.002253,0.000000,0.0,0.000000,0.0,-32.283595,24.563940,8.269556,22.146106
3,21001004: Ward 4,2175.56096,10280.57452,0.410837,0.002468,0.011511,0.000485,0.000000,0.449604,0.009256,...,0.002060,0.000000,0.000661,0.0,0.001379,0.0,-32.261612,24.542202,8.626625,18.026114
4,21001005: Ward 5,1270.83883,6018.34202,0.942851,0.002638,0.000821,0.000000,0.000891,0.000787,0.000830,...,0.000787,0.000000,0.000000,0.0,0.001660,0.0,-32.251571,24.558537,8.601754,22.192310

In [131]:
test.head()

,ward,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_02,pw_03,pw_04,pw_05,pw_06,pw_08,lat,lon,NL,target
0,21001001: Ward 1,2504.95194,8745.15151,0.947257,0.000873,0.002021,0.000000,0.000000,0.030116,0.000452,...,0.012457,0.001757,0.000000,0.0,0.006649,0.0,-32.637758,23.848688,0.000000,20.546466
1,21001002: Ward 2,2080.27718,7258.11764,0.844993,0.000481,0.043629,0.004714,0.012323,0.012300,0.022132,...,0.009606,0.000691,0.000000,0.0,0.002916,0.0,-31.990536,24.555818,0.000000,12.968441
2,21001003: Ward 3,1106.62639,5919.13170,0.651380,0.007937,0.007113,0.000000,0.001977,0.259711,0.006505,...,0.001996,0.002253,0.000000,0.0,0.000000,0.0,-32.283595,24.563940,8.269556,22.146106
3,21001004: Ward 4,2175.56096,10280.57452,0.410837,0.002468,0.011511,0.000485,0.000000,0.449604,0.009256,...,0.002060,0.000000,0.000661,0.0,0.001379,0.0,-32.261612,24.542202,8.626625,18.026114
4,21001005: Ward 5,1270.83883,6018.34202,0.942851,0.002638,0.000821,0.000000,0.000891,0.000787,0.000830,...,0.000787,0.000000,0.000000,0.0,0.001660,0.0,-32.251571,24.558537,8.601754,22.192310

In [132]:
test[['ward','target']].to_csv('newww_submission.csv', index=False)